$background_color_1: #2270bd;
$background_color_2: transparent;
$background_color_3: rgba(2555, 255, 255, .3);
$bgColor: #f7f7f7;

$jaggedDistance: 32px;
$booSize: $jaggedDistance * 5;
$booBg: $bgColor;
$booShadow: darken($booBg, 5%);
$booFaceSize: round($jaggedDistance / 1.3333);
$booFaceColor: #9b9b9b;

*:focus {
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: system-ui;

  > .container {
    padding: 80px 15px 0;
    margin-bottom: 80px;
  }
}

.navbar {
  min-height: 60px;
  background-color: $background_color_1;
  border-width: 0;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 58px;
  margin-right: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 12px;
  padding: 8px 10px !important;
  height: 36px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ffffff40;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding: 16.5px 10px;
    line-height: 27px;
  }
}

.navbar-li > a, .navbar-header > a, .dropdown > a, .dropdown-menu > a {
  color: white !important;
  background-color: transparent !important;
  font-weight: 600 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: yellow !important;
  }
}

.navbar-default .active > a {
  color: yellow !important;
}

.navbar-default .dropdown-menu {
  background-color: $background_color_1 !important;
  border: 1px solid transparent;

  > li a {
    color: white;
  }

  > li a:hover, li a:focus {
    color: white;
    background-color: unset !important;
  }

  > .active a {
    background-color: $background_color_1 !important;
  }
}

.navbar-nav {
  margin: 0.5px -15px;
}

@media (max-width: 767px) {
  .dropdown-menu {
    padding: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $background_color_1;
}

.container {
  .text-muted {
    color: white;
    line-height: normal;
    padding-top: 11px;
  }
}

#loginbox {
  margin-top: 30px;

  > div {
    &:first-child {
      padding-bottom: 10px;
    }
  }
}

#form {
  > div {
    margin-bottom: 25px;

    &:last-child {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.panel {
  background-color: $background_color_2;
}

.panel-body {
  padding-top: 30px;
  background-color: $background_color_3;
}

.animated-class {
  &.ng-enter {
    @include bounceInLeft($duration: 0.8s, $delay: 0s);
  }

  &.ng-leave {
    @include bounceOutRight($duration: 0.0001s);
  }
}

.ng-table th {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-table th.sortable {
  cursor: pointer;
}

.ng-table th.sortable .sort-indicator {
  padding-right: 18px;
  position: relative;
}

.ng-table th.sortable .sort-indicator:after,
.ng-table th.sortable .sort-indicator:before {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: visible;
  right: 5px;
  top: 50%;
  position: absolute;
  opacity: .3;
  margin-top: -4px;
}

.ng-table th.sortable .sort-indicator:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}

.ng-table th.sortable .sort-indicator:hover:after,
.ng-table th.sortable .sort-indicator:hover:before {
  opacity: 1;
  visibility: visible;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.ng-table th.sortable.sort-desc .sort-indicator:after,
.ng-table th.sortable.sort-asc .sort-indicator:after {
  margin-top: -2px;
}

.ng-table th.sortable.sort-desc .sort-indicator:before,
.ng-table th.sortable.sort-asc .sort-indicator:before {
  visibility: hidden;
}

.ng-table th.sortable.sort-asc .sort-indicator:after,
.ng-table th.sortable.sort-asc .sort-indicator:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ng-table th.sortable.sort-desc .sort-indicator:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ng-table th.filter .input-filter {
  margin: 0;
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ng-table + .pagination {
  margin-top: 0;
}

@media only screen and (max-width: 800px) {
  .ng-table-responsive {
    border-bottom: 1px solid #999999;
  }
  .ng-table-responsive tr {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
  }
  .ng-table-responsive td:before {
    position: absolute;
    padding: 8px;
    left: 0;
    top: 0;
    width: 50%;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .ng-table-responsive thead tr th {
    text-align: left;
  }
  .ng-table-responsive thead tr.ng-table-filters th {
    padding: 0;
  }
  .ng-table-responsive thead tr.ng-table-filters th form > div {
    padding: 8px;
  }
  .ng-table-responsive td {
    border: none;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .ng-table-responsive td:before {
    content: attr(data-title-text);
  }
  .ng-table-responsive,
  .ng-table-responsive thead,
  .ng-table-responsive tbody,
  .ng-table-responsive th,
  .ng-table-responsive td,
  .ng-table-responsive tr {
    display: block;
  }
}

.toggle-switch input {
  position: absolute;
  z-index: 1;
  width: 46px;
  margin: 0 0 0 -4px;
  height: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .toggle-switch .toggle-knob {
    height: 11px;
    width: 33px;
  }
}

.toggle-switch .on-label:before, .toggle-switch .off-label:after {
  content: "\00a0";
}

.toggle-switch .toggle-knob {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 12px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.26);
  -webkit-transition: background .28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background .28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
  margin-top: 6px !important;
  cursor: inherit;
}

@media (min-width: 1200px) {
  .toggle-switch input:checked + .toggle-knob:before {
    left: 18px;
    background: #fff;
  }
}

@media (min-width: 1200px) {
  .toggle-switch .toggle-knob:before {
    width: 20px;
    height: 20px;
    top: -5px;
  }
}

.toggle-switch .toggle-knob:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
  background: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  webkit-transition: left .28s cubic-bezier(0.4, 0, 0.2, 1), background .28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left .28s cubic-bezier(0.4, 0, 0.2, 1), background .28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle-switch input:checked + .toggle-knob:before {
  left: 20px;
}

.toggle-switch.oninfo input:checked + .toggle-knob, .toggle-switch.offinfo input:not(:checked) + .toggle-knob {
  background: rgba(24, 194, 241, 0.50);
}

.toggle-switch.oninfo input:checked + .toggle-knob:before, .toggle-switch.offinfo input:not(:checked) + .toggle-knob:before {
  background: #18C2F1;
}

form > .input-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 2px;
}

.panel-title {
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.error-message {
  color: #a94442;
}

.confirmation-dialog-buttons {
  text-align: center;
  margin-top: 20px;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floatingShadow {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(.85);
  }
  55% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}

// ===========

@mixin border-bottom-jagged($size, $color-outer) {
  position: relative;
  padding-bottom: $size;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -($size / 1.7);
    bottom: -($jaggedDistance / 3.85);
    width: calc(100% + #{$size});
    height: $size;
    background-repeat: repeat-x;
    background-size: $size $size;
    background-position: left bottom;
    background-image: linear-gradient(-45deg, $color-outer ($size / 2), transparent 0),
    linear-gradient(45deg, $color-outer ($size / 2), transparent 0),
    linear-gradient(-45deg, $booFaceColor ($size / 1.7), transparent 0),
    linear-gradient(45deg, $booFaceColor ($size / 1.7), transparent 0);
  }
}

.container-404 {
  background-color: $bgColor;
  color: $booFaceColor;
  position: relative;
  height: 100vh;
  text-align: center;
  font-size: $jaggedDistance / 2;

  h1 {
    font-size: $jaggedDistance;
    margin-top: $jaggedDistance;
  }
}

.boo-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: $jaggedDistance * 2;
  padding-bottom: $jaggedDistance * 2;
}

.boo {
  width: $booSize;
  height: $booSize + ($booSize * .15);
  background-color: $booBg;
  margin-left: auto;
  margin-right: auto;
  border: (($jaggedDistance / 1.65)  - ($jaggedDistance /2)) solid $booFaceColor;
  border-bottom: 0;
  overflow: hidden;
  border-radius: ($booSize / 2) ($booSize / 2) 0 0;
  box-shadow: -($jaggedDistance / 2) 0 0 2px rgba($booShadow, .5) inset;
  @include border-bottom-jagged($jaggedDistance, $bgColor);
  animation: floating 3s ease-in-out infinite;

  .face {
    width: $booFaceSize;
    height: $jaggedDistance / 10;
    border-radius: 5px;
    background-color: $booFaceColor;
    position: absolute;
    left: 50%;
    bottom: $jaggedDistance + $booFaceSize;
    transform: translateX(-50%);

    &::before,
    &::after {
      content: '';
      display: block;
      width: $booFaceSize / 4;
      height: $booFaceSize / 4;
      background-color: $booFaceColor;
      border-radius: 50%;
      position: absolute;
      bottom: $jaggedDistance + ($booFaceSize / 3);
    }

    &::before {
      left: -$booFaceSize;
    }

    &::after {
      right: -$booFaceSize;
    }
  }
}

.shadow {
  width: $booSize - $jaggedDistance;
  height: $jaggedDistance / 2;
  background-color: rgba($booShadow, .75);
  margin-top: $jaggedDistance * 1.25;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  animation: floatingShadow 3s ease-in-out infinite;
}

.input-group-btn {
  background-color: #eee;
  border: 1px solid #ccc;
  border-right: 0;
}


.uib-datepicker-popup {
  z-index: 9999;

  .glyphicon {
    top: 0.5px;
    line-height: 1.5;
  }

  .uib-daypicker {
    border: 0;
  }
}


.input-group-btn {
  border-radius: 4px 0 0 4px;
}

.btn-date {
  border: 0;
  background: transparent;
}

.btn-date.active.focus, .btn-date.active:focus,
.btn-date.focus, .btn-date:active.focus,
.btn-date:active:focus, .btn-date:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

[uib-datepicker-popup][required] + [uib-datepicker-popup-wrap] button[ng-click*="select(null"] {
  display: none;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.uib-datepicker {
  padding: 5px 5px 0 4px;
}

.tab-pane {
  width: inherit !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}

.form-custom-padding{
  padding-bottom: 10px;
}

