<h2>{{'greeting' | translate}}, {{loggedUser}}!</h2>

<h3>{{'adminPageHeading1' | translate}} {{usersLength}} {{'adminPageHeading2' | translate}}</h3>

<div ng-show="usersLength > 0">
  <table class="table table-bordered table-striped" ng-table="tableParams">
    <tr ng-repeat="user in $data">
      <td data-sortable="'username'" data-title="'username' | translate">
        {{user.username}}
      </td>
      <td data-title="'fullName' | translate"
          ng-bind="(user.userAttributes | filter:{name:'fullName'})[0].data"></td>
      <td data-title="'email' | translate" ng-bind="(user.userAttributes | filter:{name:'email'})[0].data"></td>
      <td data-sortable="'status'" data-title="'status' | translate">
        <input is-disabled="true" name="statusToggle" ng-init="statusToggle=(user.status == 1)" ng-model="statusToggle"
               on-type="info" toggle-btn
               type="checkbox">
      </td>
      <td data-title="'actions' | translate">
        <button aria-label="Left Align" class="btn btn-default btn-sm" ng-click="editUser(user, $index)" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
