<div class="panel-heading">
    <div class="panel-title text-center">Login using your credentials</div>
</div>

<div class="panel-body">

    <form ng-submit="login()" name="form" id="form" class="form-horizontal">

        <div class="input-group" style="margin-top: 2px;">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input id="user" type="text" class="form-control" name="user" value="" placeholder="Username"
            aria-describedby="basic-addon1" ng-model="user.username" required>
        </div>

        <div class="input-group" style="margin-top: 2px;">
            <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password"
            aria-describedby="basic-addon2" ng-model="user.password" required>
        </div>

        <div ng-show="loginUnavailable" class="alert alert-danger" role="alert">Please check your credentials.</div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default" ng-click="toggleLoginForm()"><i class="glyphicon glyphicon-book"></i> New here? Register.</button>

                <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in!</button>
            </div>
        </div>

    </form>

</div>