<div class="panel-heading">
  <div class="panel-title text-center">Login using your credentials</div>
</div>

<div class="panel-body">

  <form class="form-horizontal" id="form" name="forms.loginForm" ng-submit="login()">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><em class="glyphicon glyphicon-user"></em></span>
      <input aria-describedby="basic-addon1" class="form-control" ng-model="user.username" placeholder="Username"
             type="text" required/>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2"><em class="glyphicon glyphicon-lock"></em></span>
      <input aria-describedby="basic-addon2" class="form-control" ng-model="user.password"
             placeholder="Password" type="password" required/>
    </div>

    <div class="alert alert-danger" ng-show="loginUnavailable" role="alert">Please check your credentials.</div>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="toggleLoginForm()" type="button">
          <em class="glyphicon glyphicon-book"></em>
          New here? Register.
        </button>

        <button class="btn btn-primary pull-right" ng-disabled="forms.loginForm.$invalid" type="submit">
          <em class="glyphicon glyphicon-log-in"></em>
          Log in!
        </button>
      </div>
    </div>

  </form>

</div>