<div class="panel-heading">
  <div class="panel-title text-center">Register</div>
</div>

<div class="panel-body">

  <form class="form-horizontal" id="form" name="forms.registerForm" ng-submit="register()">

    <div class="input-group form-group" ng-class="{'has-error has-feedback': forms.registerForm['username'].$invalid}">
      <span class="input-group-addon" id="basic-addon1"><em class="glyphicon glyphicon-user"></em></span>
      <input aria-describedby="basic-addon1" class="form-control" name="username" ng-model="user.username"
             placeholder="Username" type="text" data-toggle="tooltip"
             title="{{forms.registerForm['username'].$valid ? '' : 'Error'}}"/>
      <em ng-show="forms.registerForm['username'].$invalid"
          class="glyphicon glyphicon-exclamation-sign form-control-feedback"></em>
    </div>

    <div class="input-group form-group" ng-class="{'has-error has-feedback': forms.registerForm['fullName'].$invalid}">
      <span class="input-group-addon" id="basic-addon2"><em class="glyphicon glyphicon-info-sign"></em></span>
      <input aria-describedby="basic-addon2" class="form-control" name="fullName" ng-model="user.fullName"
             placeholder="Full name" type="text" data-toggle="tooltip" data-placement="left"
             title="{{forms.registerForm['fullName'].$valid ? '' : 'Error'}}"/>
      <em ng-show="forms.registerForm['fullName'].$invalid"
          class="glyphicon glyphicon-exclamation-sign form-control-feedback"></em>
    </div>

    <div class="input-group form-group" ng-class="{'has-error has-feedback': forms.registerForm['email'].$invalid}">
      <span class="input-group-addon" id="basic-addon3"><em class="glyphicon glyphicon-envelope"></em></span>
      <input aria-describedby="basic-addon3" class="form-control" name="email" ng-model="user.email" placeholder="Email"
             type="text" data-toggle="tooltip" data-placement="left"
             title="{{forms.registerForm['email'].$valid ? '' : 'Error'}}"/>
      <em ng-show="forms.registerForm['email'].$invalid"
          class="glyphicon glyphicon-exclamation-sign form-control-feedback"></em>
    </div>

    <div class="input-group form-group" ng-class="{'has-error has-feedback': forms.registerForm['password'].$invalid}">
      <span class="input-group-addon" id="basic-addon4"><em class="glyphicon glyphicon-lock"></em></span>
      <input aria-describedby="basic-addon4" class="form-control" name="password" ng-model="user.password"
             placeholder="Password" type="password" data-toggle="tooltip" data-placement="left"
             title="{{forms.registerForm['password'].$valid ? '' : 'Error'}}"/>
      <em ng-show="forms.registerForm['password'].$invalid"
          class="glyphicon glyphicon-exclamation-sign form-control-feedback"></em>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="toggleLoginForm()" type="button">
          <em class="glyphicon glyphicon-log-in"></em>
          Already registered? Login.
        </button>

        <button class="btn btn-primary pull-right"

                type="submit">
          <em class="glyphicon glyphicon-book"></em>
          Register!
        </button>
      </div>
    </div>
  </form>
</div>