<div class="panel-heading">
  <div class="panel-title text-center">Register</div>
</div>

<div class="panel-body">

  <form class="form-horizontal" id="form" name="registerForm" ng-submit="register()">

    <div class="input-group" style="margin-top: 2px;">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
      <input aria-describedby="basic-addon1" class="form-control" id="user" name="username" ng-model="user.username" placeholder="Username"
             type="text" value="">
    </div>

    <div class="input-group" style="margin-top: 2px;">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-info-sign"></i></span>
      <input aria-describedby="basic-addon1" class="form-control" id="name" name="fullname" ng-model="user.fullName" placeholder="Full name"
             type="text" value="">
    </div>

    <div class="input-group" style="margin-top: 2px;">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input aria-describedby="basic-addon1" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Email"
             type="text" value="">
    </div>

    <div class="input-group" style="margin-top: 2px;">
      <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
      <input aria-describedby="basic-addon2" class="form-control" id="password" name="password" ng-model="user.password"
             placeholder="Password" type="password">
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-default" ng-click="toggleLoginForm()" type="button">
          <i class="glyphicon glyphicon-log-in"></i>
          Already registered? Login.
        </button>

        <button class="btn btn-primary pull-right" href="#" type="submit">
          <i class="glyphicon glyphicon-book"></i>
          Register!
        </button>
      </div>
    </div>

  </form>

</div>